<div class="container d-flex align-items-center py-3 border-bottom">
<h2>Edit Article<h2>
</div>

<div class="container">
<%= render 'form', article: @article %>
  <%= link_to "Show", article_path(@article) %>
  <span>|</span>
  <%= link_to "Back", articles_path %>
</div>
